/* common formats */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf7f7;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
}

h2 {
    text-align: center;
    font-size: 2em;
}

.separator {
    height: 3em;
}

/* top nav bar */
header {
    display: flex;
    justify-content: center; /* 水平居中对齐整个导航栏 */
    align-items: center; /* 垂直居中对齐内容 */
    padding: 10px 20px;
    background-color: #fdfbe9;;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%; /* 占据整个页面宽度 */
    z-index: 1000;
    height: 5em;
}

.logo {
    position: absolute; /* 使 Logo 固定在左侧 */
    left: 1em;
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.logo img {
    height: 4em;
    margin-right: 10px;
    border-radius: 50%;
}

.logo span {
    font-size: 2em;
    font-weight: bold;
    color: #222;
}

nav {
    display: flex;
    justify-content: center; /* 水平居中内容 */
    gap: 4em; /* 每个导航链接之间的间距 */
}

nav a {
    text-decoration: none;
    font-size: 1.25em;
    color: #555;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #000;
}

.section-container {
    margin-top: 80px; /* 避免被固定导航栏遮挡 */
}


/* big enterance picture */
.big-enterance-card {
    position: relative;
    width: 60%;
    height: 70%;
    display: inline-block;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    justify-self: center;
    margin-bottom: 0px;
}

.big-enterance-card img {
    display: block;
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute; /* 绝对定位文字 */
    bottom: 20px; /* 距离底部 20px */
    left: 20px; /* 距离左侧 20px */
    color: white; /* 文字颜色为白色 */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); /* 添加阴影，让文字更清晰 */
    font-family: Arial, sans-serif;
}

.text-overlay h2 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
    margin-top: 0px;
}

.text-overlay p {
    font-size: 2em;
    margin: 10px 0;
}

/* More to explore section */
.more-to-explore {
    width: 95%;
    /* max-width: 1200px; */
    margin: 0 auto;
    text-align: center;
    background-color: #fdfbe9;
    padding: 2em 1em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.more-to-explore h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 1.5em;
    color: #333;
}

/* Explore cards container */
.explore-cards {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

/* Individual card styling */
.explore-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdfbe9;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.explore-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Image container */
.image-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-container i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.image-container i:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Card description styling */
.card-description {
    padding: 1em;
    background-color: #fdfbe9;
    text-align: center;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
    font-weight: normal;
    font-weight: bold;
}

/* 桌面设备 (宽度大于 1024px) */
@media (min-width: 1024px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        padding: 1em;
        justify-content: center;
    }
    
    .card {
        position: relative;
        width: 15%;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: white;
        cursor: pointer;
        transition: transform 0.2s;
        padding-bottom: 1em;
    }
}

/* 平板设备 (宽度大于 768px 小于 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        padding: 1em;
        justify-content: center;
    }
    
    .card {
        position: relative;
        width: 30%;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: white;
        cursor: pointer;
        transition: transform 0.2s;
        padding-bottom: 1em;
    }
}

/* 移动设备 (宽度小于等于 768px) */
@media (max-width: 768px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); /* 两列均匀分布 */
        gap: 1em;
        padding: 1em;
    }

    .card {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: white;
        cursor: pointer;
        transition: transform 0.2s;
        padding-bottom: 1em;
        height: auto;
    }
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.about-us {
    text-align: center;
    padding: 2em;
}

.icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.card h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    padding: 1em;
}

.card p {
    color: #666;
    font-size: 1.2em;
    margin: 0.5em 0 1em;
    line-height: 1.5;
    padding: 1em;
}

.card a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
}

.card a:hover {
    text-decoration: underline;
}

.footer-text {
    position: absolute;
    bottom: 1em; /* 相对卡片底部 */
    left: 50%;
    transform: translateX(-50%);
    color: #666;
    font-size: 0.9em;
    margin-top: 1em;
}

.travel-guide {
    text-align: center;
    padding: 2em 0;
}

.travel-guide p {
    font-size: 1.5em;
    color: #666;
    font-style: oblique;
}

/* 桌面设备 (宽度大于 768px) */
@media (min-width: 768px) {
    .circle-container {
        display: flex;
        justify-content: center;
        gap: 2em;
        overflow-x: auto;
    }
    .circle-link {
        padding: 2em;
        text-align: center;
        text-decoration: none;
        color: #333;
    }
    
    .circle {
        width: 80%;
        max-width: 150px;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }
}

/* 移动设备 (宽度小于等于 768px) */
@media (max-width: 768px) {
    .circle-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 明确每行两个项目 */
        gap: 1em;
        overflow-x: hidden; /* 防止内容水平滚动 */
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
    }

    .circle-link {
        width: 100%; /* 确保项目宽度适应网格单元 */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #333;
    }

    .circle {
        width: 80px;
        max-width: 150px;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }
}


.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle:hover {
    transform: scale(1.05);
}


/* review */
.review {
    width: 800px; /* 占据页面宽度的 70% */
    height: 70%; /* 组件高度设置为页面高度的 70% */
    max-height: 700px;
    max-width: 1200px; /* 设置最大宽度（可选，避免过于宽） */
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-self: center; /* 水平居中，适配 grid 布局 */
    align-self: center; /* 垂直居中 */
}

.review-header {
    padding: 1em;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.review-list {
    flex: 1;
    overflow-y: auto;
    padding: 1.5em; /* 内边距优化 */
    gap: 1em; /* 列表间距 */
}

.comment-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 1em;
}

.comment-card .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info .user-name {
    font-size: 1.2em;
    font-weight: bold;
}

.comment-content {
    font-size: 1em;
    color: #555;
    margin-bottom: 0.5em;
    line-height: 1.5;
}

.comment-rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment-rating i {
    color: #FFD700;
    font-size: 1.2em;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    width: 100%; /* 占据屏幕的全部宽度 */
    box-sizing: border-box; /* 确保 padding 不会影响宽度 */
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}

/* social media icons */
.social-media-container {
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.social-icons a {
    text-decoration: none;
    color: #555;
    font-size: 40px;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #000;
}

.social-logo-image {
    width: 1em;
    height: 1em;
}