body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.mpd-h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

/* 桌面设备 (宽度大于 1024px) */
@media (min-width: 1024px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        padding: 1em;
        justify-content: center;
    }
    
    .card {
        position: relative;
        width: 15%;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: white;
        cursor: pointer;
        transition: transform 0.2s;
        padding-bottom: 1em;
    }
}

/* 平板设备 (宽度大于 768px 小于 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        padding: 1em;
        justify-content: center;
    }
    
    .card {
        position: relative;
        width: 30%;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: white;
        cursor: pointer;
        transition: transform 0.2s;
        padding-bottom: 1em;
    }
}

/* 移动设备 (宽度小于等于 768px) */
@media (max-width: 768px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); /* 两列均匀分布 */
        gap: 1em;
        padding: 1em;
    }

    .card {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        background-color: white;
        cursor: pointer;
        transition: transform 0.2s;
        padding-bottom: 1em;
        height: auto;
    }
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.why-choose-us {
    text-align: center;
    padding: 2em;
}

.why-choose-us h2 {
    font-size: 2em;
}

.icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.card h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    padding: 1em;
}

.card p {
    color: #666;
    font-size: 0.9em;
    margin: 0.5em 0 1em;
    line-height: 1.5;
    padding: 1em;
}

.card a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
}

.card a:hover {
    text-decoration: underline;
}

.footer-text {
    position: absolute;
    bottom: 1em; /* 相对卡片底部 */
    left: 50%;
    transform: translateX(-50%);
    color: #666;
    font-size: 0.9em;
    margin-top: 1em;
}

.travel-guide {
    text-align: center;
    padding: 2em 0;
}

.travel-guide h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #333;
}

.travel-guide p {
    font-size: 1.5em;
    color: #666;
    font-style: oblique;
}

/* 桌面设备 (宽度大于 768px) */
@media (min-width: 768px) {
    .circle-container {
        display: flex;
        justify-content: center;
        gap: 2em;
        overflow-x: auto;
    }
    .circle-link {
        padding: 2em;
        text-align: center;
        text-decoration: none;
        color: #333;
    }
    
    .circle {
        width: 80%;
        max-width: 150px;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }
}

/* 移动设备 (宽度小于等于 768px) */
@media (max-width: 768px) {
    .circle-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 明确每行两个项目 */
        gap: 1em;
        overflow-x: hidden; /* 防止内容水平滚动 */
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
    }

    .circle-link {
        width: 100%; /* 确保项目宽度适应网格单元 */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #333;
    }

    .circle {
        width: 80px;
        max-width: 150px;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }
}


.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}